<div class="container">
  <h1>Ramschema</h1>
  @if (error()) {
    <p style="color: red;">{{ error() }}</p>
  }

  <input type="text" (input)="handleSearch($event)" placeholder="Sök kurs här">
  <div class="table-container">
  <table>
    <thead>
      <tr>
        <th (click)="sortData('code')" style="cursor:pointer;">Kurskod</th>
        <th (click)="sortData('coursename')" style="cursor:pointer;">Kursnamn</th>
        <th (click)="sortData('progression')" style="cursor:pointer;">Progression</th>
        <th>Syllabus</th>
      </tr>
    </thead>
  
  <tbody>
    <tr *ngFor="let repo of filteredRepositories()">
      <td data-label="Kod">{{repo.code.toUpperCase()}}</td>
      <td data-label="Namn">{{repo.coursename}}</td>
      <td data-label="Nivå">{{repo.progression}}</td>
      <td data-label="Länk"><a [href]="repo.syllabus" target="_blank">Webblänk</a></td>
    </tr>

  </tbody>
</table>
</div>
</div>